<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Smash Share Note", "#", class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">マイページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">設定</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ログイン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ログアウト</a>
        </li>
      </ul>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Smash Share Noteへようこそ!!</h1>
    </div>  
  </div>
  <div class="row">
    <div class="text-center">
      <h2>Smash Share Noteとは?</h2>
    </div>
    <%= image_tag("2021-08-18 18.09.39.png") %>
    <p>Smash share noteとは、大乱闘スマッシュブラザーズに関する、
    自分だけのキャラ対策ノートを作成、保存できるツールです。</p>
  </div> 
  
  <div class="row"> 
      <div class="col-6 text-end"><%= link_to "新規ユーザー登録", "#", class: "btn btn-lg btn-primary" %></div>
    
      <div class="col-6"><%= link_to "ログイン", "#", class: "btn btn-lg btn-primary" %></div>
  </div>  
</div>