<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Smash Share Noteへようこそ!!</h1>
    </div>  
  </div>
  <div class="row">
    <div class="text-center">
      <h2>Smash Share Noteとは?</h2>
    </div>
    
    <p>Smash share noteとは、大乱闘スマッシュブラザーズに関する、
    自分だけのキャラ対策ノートを作成、保存できるツールです。</p>
  </div> 
  
  <div class="row"> 
      <div class="col-6 text-end"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-lg btn-primary" %></div>
    
      <div class="col-6"><%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %></div>
  </div>  
</div>