<h1><%= current_user.username %>'s キャラ対策ノート</h1>
<div class="container-fluid">
  <% @characters.each do |character| %>
    <%= link_to image_tag(character.image, size:"70x70"), new_page_path %>
  <% end %>
</div> 
